  .sidebar {
    position: absolute;
    top: 0px;
    left: -23.5vw;
    height: 100vh;
    width: 23.5vw;
    transition: left 0.3s ease-in-out;
  }
  .sidebar.open {
    left: 0;
    
  }
  .content.open {
    left: 15vw;
  }

.Link{
  text-decoration: none;
  transition: border-bottom 0.5s ease-in-out;
}

.Link:hover{
  border-bottom: 1px solid green;
}


@media (max-width: 767px) {
  .sidebar {
    width: 60%;
    left: -60%;
  }

  .content.open {
    left: 0;
  }
}
  