.swiper {
  width: 100%;
  padding-top: 40px;
  /* padding-bottom: 50px; */
  margin: 0;
  height: auto;
}

.swiper-slide {
  width: 70%;
  height: 300px;
  background: transparent;
}

@media (min-width: 750px) {
  .swiper {
    width: 80%;
    padding-bottom: 40px;
  }
  .swiper-slide {
    height: auto;
  }
}
.swiper-wrapper {
  margin-bottom: 2rem;
}
@media (max-width: 450px) {
  .swiper-slide {
    width: 100%;
  }
  .swiper {
    height: auto;
  }
}
